| Component         | Quantity      |
| ------------------| ------------- |
| Arduino UNO       |  1            |
| Breadboard        |  1            |
| LCD               |  1            |
| Potentiometer     |  1            |
| Resistors         |  2            |
| Servo Motor       |  1            |
| Ultrasoni Sensor  |  2            |
| LED               |  1            |