| Component         | Quantity      |
| ------------------| ------------- |
| Arduino UNO       |  2            |
| NeoPixel          |  1            |
| LCD               |  1            |
| Resistors         |  3            |
