* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --red: #fe3e57;
  --light-red: #e94d62;
  --white: #080808;
  --dim-white: #221f1f;
  --primary-text: rgb(21, 22, 24);
  --territory-text: rgb(19, 21, 24);
  --secondary-text: rgb(166, 172, 194);
  --secondary-head: rgb(42 107 195);
  --primary-background: rgb(231, 242, 243);
  --card-background: rgb(59, 96, 151);
  --secondary-background: rgb(245, 249, 250);
  --secondary-button: rgb(89, 103, 124);;
  --dark-shadow: #040e1d;
  --footer: #3d4d61;

  --montserrat: "Montserrat", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

html {
  overflow-x: hidden;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--montserrat);
  background-color: var(--primary-background);
  color: #111414;
  position: relative;
}
h1 {
  font-size: 5.7rem;
  letter-spacing: -1px;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
  font-family: var(--open-sans);
  text-align: justify;
  line-height: 3.3rem;
  color: var(--territory-text);
}

li {
  font-size: 1.9rem;
  font-family: var(--open-sans);
  text-align: justify;
  color: var(--territory-text);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 15px;
 margin: 50px;
  height: 15px;
  scroll-padding: 10px;
 
}

::-webkit-scrollbar-track {
  background-color: #040e1d;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FE3E57;
  -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;    
}

/* Custom Styling Starts */

.loader-body {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 100vh;
  overflow-y: hidden;
}

.add-on {
  animation: bottomUp 0.7s 1 0s linear;
  animation-delay: 500ms;
}
.email {
  position: fixed;
  bottom: 0;
  right: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.mail {
  writing-mode: vertical-rl;
  font-size: 10px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 2px;
}

.mail-line {
  width: 2px;
  height: 150px;
  margin-top: 30px;
}

.social {
  position: fixed;
  bottom: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.social a {
  width: 100%;
  height: 100%;
}

.social-i {
  font-size: 20px;
  margin: 10px auto;
  transition: 0.3s;
  transition-property: color;
}

.social-i:hover {
  color: var(--red);
}

.social-line {
  width: 2px;
  height: 100px;
  margin-top: 10px;
}

.mail,
.social-i {
  color: var(--dim-white);
}

.social-line,
.mail-line {
  background-color: var(--dim-white);
}

.head-img{
    height:40vh;
    width:30vw;
    margin-right:20px;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  background-color: var(--primary-background);
  position: fixed;
  overflow: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  transition: 350ms;
  transition-property: height;
}

.floatingNav {
  height: 60px;
  box-shadow: 0px 1px 10px var(--dark-shadow);
}

#logo h3 {
  color: var(--white);
  font-size: 2.2rem;
  cursor: pointer;
}

#logo h3 span {
  color: var(--red);
}

.nav-elements {
  display: flex;
  align-items: center;
  padding: 10px;
  
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link a {
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding: 15px;
 margin: 20px;
  transition: 0.3s;
  transition-property: color;
  --s: 0.1em;   /* the thickness of the line */
  --c: red; /* the color */
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.nav-link a:hover {
  --_p: 100%
}

.connect{
  font-family: var(--montserrat);
  font-weight: 500;
  cursor:pointer;
  font-size: 1.8rem;
  text-decoration: none;
  padding-left: 1.5vw;
  padding: 3px;
  padding-right: 1.5vw;
  transition: 0.3s;
  transition-property: color;
  --s: 0.1em;   /* the thickness of the line */
  --c: red; /* the color */
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.connect:hover {
  --_p: 100%
}

.ham {
  display: none;
}

.main-wrapper {
  margin-left: 15%;
  margin-right: 15%;
}

.main {
  margin-top: 36px;
  min-height: 100vh;
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: var(--primary-background);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  
}

.main-content h3 {
  color: var(--dim-white);
  font-size: 2rem;
  font-weight: 600;
  clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);

}

.main-content h1 {
  color: var(--white);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);

}

.main-content h1 span {
  color: var(--red);
}

.main-content h2 {
  color: var(--white);
  font-weight: 600;
  font-size: 3.5rem;
}

.btn-grp {
  margin-top: 5.5rem;
  display: flex;
  align-items: center;
}

.btn {
  width: 180px;
  height: 55px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.3s;
  transition-property: box-shadow;
}
.btn p {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--montserrat);
}

.btn:hover {
  box-shadow: 5px 6px 12px 4px rgba(0, 0, 0, 0.31);
}

.primary {
  background-color: var(--red);
  margin-right: 40px;
}

.secondary {
  background-color: var(--secondary-button);
}

.main-img {
  position: absolute;
  right: -100px;
}

.hero-img {
  display: block;
  width: 40vw;
}

.section {
  padding: 120px 15%;
}

.about {
  background-color: var(--secondary-background);
  min-height: 100vh;
  display: block;
  padding-bottom: 0px;
  align-items: center;
  padding-bottom: 0.5%;
}

.about-content {
  margin: 5% 10%;
  flex-basis: 60%;
  text-align: center;
}

.about-img {
  /* flex-basis: 40%; */
  width: 100%;
  margin: 0% 30%;
}
.about-img>img{
  width: 40%;
}
.about-brief {
  color:black;
  margin-bottom: 30px;
}

.about-brief h1 {
  margin-bottom: 15px;
}
.about-brief>p{
  text-align: center;
}
.inclusion p{
  padding-bottom:20px;
}
.column {
  margin-left:20%;
  width: 20%;
  padding:0% 3%;
  background-color:white;
  border-radius:1rem;
  border:0.5rem;
  /* box-shadow:
   5px 8px rgb(69,121,214); */
  box-shadow:
  inset 0 0 0 rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.5em 0.5em 1em rgba(0,0,0,0.4);
}

.column h3{
  font-weight: bold;
  color:rgb(68, 63, 63);
}
.inclusion h2{
  font-weight:bold;
}
.column h3 a:hover{
  text-decoration:none;
}

.serviceoffers{
  padding:5% 0;
  margin-bottom:50px;
}
.container-about{
  margin: 5% 20%;
}
.headings{
  margin-bottom:50px;
}
.headings h1{
  font-size:1.5rem;
  font-weight:600;
  text-transform:percase;
}
.names h1{
  color:#2e2e2e;
  font-size:0.9rem;
  text-transform: uppercase;
  font-weight:bold;
}
.service-icons{
  display:flex;
  justify-content:center;
  align-content:center;
}
.progress{
  height:2.1rem !important;
  margin-bottom:25px !important;
  margin-bottom:25px !important;
}
.project-work{
  margin:80px 0;
}
.project-work h1{
font-size:2rem;
text-align:center;
}


.header-section{
  width:100%;
  height:inherit;
  color:white;
  text-align:center;
  position:relative;
}
.center-div{
  width:100%;
  height:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
}
.header-buttons a{
border:1px solid white;
border-radius:100px;
margin:0 5px;
padding:12px 35px;
outline:none;
color:#fff;
font-size:1rem;
font-weight:400;
line-height:1.4;
text-align:center;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-ms-border-radius:100px;
-o-border-radius:100px;
}
.header-buttons a:hover{
  color:#50d1c0;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
  font-size:1.3rem;
  padding:10px 0 20px 0;
  color:#fff;
}
.header-extradiv{
  width:100%;
  height:2vh;
  margin:0% 0%;
  text-align:center;
}

.container-extradiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
  padding: 3% 0% 3% 2%;
}
.container-portfolio{
  margin: 0% 10%;
}

.extraDiv-icon{
  background-color: var(--secondary-head) ;
  padding: 5% 0;
} 

.extraDiv-icon h3,.extraDiv-icon i{
color: #fff !important;
}

.card-des{
  color: var(--secondary-button);
  margin: 5% auto auto;
}

.extra-div{
  /* background:rgba(100, 100, 100, 0.2); */
  flex: 20%;
  border: 1px solid rgba(100, 100, 100, 0.2) ;
  padding:3% !important;
  border-radius:7px;
  transition:0.3s;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  -ms-border-radius:7px;
  -o-border-radius:7px;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -ms-transition:0.3s;
  -o-transition:0.3s;
  text-align:center;
}
.extra-div:hover{
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.3);
  transform:translateY(-20px);
  -webkit-transform:translateY(-20px);
  -moz-transform:translateY(-20px);
  -ms-transform:translateY(-20px);
  -o-transform:translateY(-20px);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  font-family: var(--montserrat);
  list-style: none;
  margin-left: -15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tab {
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--montserrat);
  font-weight: 600;
  color: var(--primary-text);
  margin: 0 15px;
  margin-bottom: 10px;
  line-height: 30px;
  user-select: none;
  transition: 0.5s;
  transition-property: color;
}

.tab::after {
  content: "";
  display: block;
  background: var(--dim-white);
  height: 2.5px;
  max-width: 50px;
  width: 100%;
  transition: 0.5s;
}

.active::after {
  content: "";
  display: block;
  background: var(--red);
  height: 2.5px;
  max-width: 150px;
  width: 100%;
  transition: 0.5s;
}

.active-tab {
  color: var(--red);
}

.tab-content {
  margin-top: 20px;
  height: 50px;
}

.tab-content h3 {
  font-family: var(--open-sans);
  font-weight: 500;
  color: var(--primary-text);
}
.tab-content p {
  font-size: 1.5rem;
  text-align: left;
}

.link {
  cursor: pointer;
  position: relative;
}
.flex{
  display: flex;
}
#photo img{
  height:50vh;
  width:40vw;
  margin:0;
  padding:0;
}
.skill{
  margin-top: 40px;
}
.icon-box{
  margin-bottom: 15px;
}
.tech-icon{
  height: 20%;
  width: 20%;
}
.portfolioo{
  height: 55vh;
  max-height: 100vh;
  padding:5% 12%;
  background-color: var(--secondary-background);
}

.portfolio h2,
.portfolio h3 {
  text-align: center;
}
.portfolio h3 {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--secondary-head);
}

.works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.all-works,
.web-works,
.android-works,
.other-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 30px;
  margin-top: 6rem;
  width: 90%;
}
.other-works {
  grid-template-columns: 36rem;
}

.web-works,
.android-works,
.other-works {
  display: none;
}

.project-tabs {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-tab {
  cursor: pointer;
  user-select: none;
  line-height: 5rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  color: var(--territory-text);
  width: 18rem;
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

.project-tab::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: var(--secondary-text);
}

.active-project {
  color: var(--red);
}
.active-project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: var(--red);
}

/* Card UI */

.project-card {
  justify-self: stretch;
  position: relative;
  height: 35rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.hidden-card {
  display: none;
}

.project-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: 0.3s ease-in;
  transition-property: transform;
}

.card-content {
  height: 11rem;
  position: absolute;
  padding: 3.9rem 3rem;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: var(--card-background);
  transition: 0.4s ease-in;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-content p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: left;
  font-weight: 400;
  color: var(--primary-text);
  letter-spacing: 0.5px;
}
.card-content h4,
.card-content h5 {
  color: white;
}
.card-content h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.card-content h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dim-white);
  margin-bottom: 4rem;
}

.card-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem;
  padding-left: 0;
}

.card-icon {
  cursor: pointer;
  margin-right: 20px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  background: linear-gradient(
    90deg,
    rgba(254, 62, 87, 1) 0%,
    rgba(250, 91, 111, 1) 100%
  );
  transition: 0.1s;
}

.demo {
  right: 9rem;
}

.card-i {
  font-size: 2.5rem;
}

.demo i {
  font-size: 2.4rem;
}
/* Card UI Ends */

.view-more {
  margin-top: 8rem;
  background-color: var(--red);
}
.view-more p {
  font-size: 1.6rem;
}

#contact {
  background-color: var(--primary-background);
}

.contact h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.contact h1 {
  margin-bottom: 4rem;
}

.contact-wrapper {
  margin: 3rem auto 3.5rem;
  display: flex;
  gap: 10%;
  width: 100%;
}

.contact-details {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-container {
  cursor: pointer;
  margin-bottom: 5rem;
  border: 1.5px solid var(--primary-text);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mail-id {
  padding: 0 5rem;
}
.phone {
  padding: 0 11.1rem;
}

.contact-icon {
  margin: 2rem 0;
  padding: 1.2rem;
  width: 5rem !important;
  height: 5rem;
  border: 2px solid var(--primary-text);
  background-color: var(--primary-text);
  color: var(--primary-background);
  transition: 0.5s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon i {
  font-size: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-info a {
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-text);
  transition: 0.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.s-medias {
  width: 100%;
}

.s-head {
  margin-top: 4rem;
  text-align: right;
  margin-bottom: 3rem;
}

.social-media-pack {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.social-media-pack a {
  width: 5rem;
  height: 5rem;
  text-align: center;
  background-color: var(--primary-text);
  border-radius: 50%;
  transition: 0.5s;
  margin-left: 2rem;
  position: relative;
}

.contact-social {
  font-size: 2.6rem;
  line-height: 5.1rem;
  color: var(--primary-background);
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex:55%;
  width: 100%;
  position: relative;
}

.form-head {
  margin-bottom: 0;
  color: var(--secondary-text);
  font-size: 1.7rem;
}

.input {
  font-family: var(--montserrat);
  padding-left: 1.7rem;
  color: white;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  height: 4.7rem;
  background-color: var(--secondary-button);
  border: none;
  border-radius: 5px;
}

/* Removing autocomplete styling */

@-webkit-keyframes autofill {
  0%,
  100% {
    color: var(--white);
    background: var(--secondary-button);
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/* Removing autocomplete styling Finished*/

.input::placeholder {
  font-size: 1.5rem;
  color: rgba(255, 251, 251, 0.589);
}

.input:focus {
  outline: none;
}

#message {
  height: 20rem;
  resize: vertical;
  padding-top: 1.7rem;
}

.submit {
  font-family: var(--montserrat);
  margin-top: 2.5%;
  background-color: var(--red);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  width: 15rem;
  height: 4.8rem;
}

.footer {
  padding: 3rem 15%;
  padding-top: 4rem;
  background-color: var(--footer);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 0;
  /* margin-top: 7rem; */
}

#footer-logo span{
  color: var(--red);
}

#footer-logo h3{
  font-size: 4.2rem;
}

.footer hr {
  border: none;
  height: 0.1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.171);
  margin-bottom: 1.5rem;
}
.subscribe{

  background-color: var(--light-red);
}

.footer-icons {
  width: 40vw;
  display: flex;
  flex: 45%;
  /* align-items: center;
  justify-content: center; */
flex-direction: column;
gap: 5%;
  margin: 2rem 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer-i {
  color: var(--dim-white);
  font-size: 2.5rem;
  padding:5%;
  margin-right: 5%;
  border: 1px solid var(--white);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.footer i:hover{
  transform: scale(1.15);
  color: var(--red);
  border: 1px solid var(--red);
}
.copyright {
  font-family: var(--open-sans);
  font-size: 1.6rem;
}

.footer p {
  font-size: 1.2rem;
}

.up-btn-wrapper {
  position: absolute;
  /* top: -2.3rem; */
  bottom: 6.7rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--red);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.up-btn {
  position: relative;
  top: -0.3rem;
  font-size: 3.5rem;
  line-height: 5rem;
  width: 5rem;
  color: var(--dim-white);
  text-align: center;
}

@media only screen and (max-width: 1470px) {
  .section {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 8.8px;
  }
  .btn {
    width: 160px;
    height: 50px;
  }
}

/* Removes Add-On */
@media only screen and (max-width: 1200px) {
  .section {
    padding-left: 8%;
    padding-right: 8%;
  }
  .add-on {
    display: none;
  }
  .nav-bar {
    padding-left: 8%;
    padding-right: 8%;
  }
  .main-wrapper {
    margin-left: 8%;
  }
  .about-img{
    width: 100%;
    margin: 0% 15%;
  }
  .about-img>img {
    width: 70%;
  }
  .about-content {
    margin: 5% 2%;
    flex-basis: 60%;
    text-align: center;
  }
  .column {
    margin-left:15%;
    width: 30%;
    padding:1% 3%;
  }
  .container-about{
    margin: 5%;
  }
  .serviceoffers{
    padding:10% 0;
    margin-bottom:5rem;
  }
  .container-portfolio{
    margin: 0%;
  }
  .container-extradiv{
    gap: 2%;
  }
  .footer{
    padding: 3rem 2% ;
  }
  .portfolioo{
    height: 45vh;
  }
}

@media only screen and (max-width:900px) {
  .footer-icons{
    width: auto;
    text-align: center;
    gap: 2.5rem;
  }
  .footer{
    width: 100vw;
    padding: 5rem 5% ;
  }
  .contact-wrapper{
    flex-direction: column;
  }
  .about-img{
    width: 100%;
    margin: 2%;
    justify-content: center;
  }
  .about-img>img{
    width: 60vh;
  }
  .about-content {
    margin: 5% 3%;
  }
}

@media only screen and (max-width: 570px) {
  html {
    font-size: 8px;
  }
  .nav-bar {
    padding-left: 10%;
    padding-right: 5%;
    height: 80px;
  }
  .floatingNav {
    height: 55px;
  }

  .nav-elements {
    opacity: 0;
    display: none;
    background-color: var(--dark-shadow);
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }

  .nav-visible {
    display: flex;
    transition: 0.5s;
    transition-property: opacity;
    opacity: 1;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-link {
    margin-top: 5vh;
  }

  .nav-links a {
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 3rem;
  }
  .newsletter {
    padding: 80px 0;
    background: #2d2b46;
    /* background: #243c4f; */
    
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: #ffffff;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #2d2b46;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #2d2b46;
    color: #fff;
    font-weight:600;
    border: 1px solid #fff;
    }
  
  
  #nav-btn {
    background-color: var(--light-red);
    margin-left: 0px;
    margin-top: 10vh;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #nav-btn p {
    font-size: 2.4rem;
  }
 
  .ham {
    display: block;
    position: relative;
    z-index: 20;
  }

  .main-wrapper {
    margin-left: 15%;
  }

  .main {
    margin-top: 0px;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  .main-content h2 {
    line-height: 50px;
  }

  .primary {
    margin-right: 20px;
  }

  .btn-grp {
    margin-top: 3rem;
    justify-content: center;
  }

  .main-img {
    position: static;
    right: 0px;
  }

  .main-img {
    margin-bottom: 5vh;
    height: 50%;
  }

  .hero-img {
    width: 75vw;
    max-width: 500px;
  }

  .section {
    padding: 60px 8%;
  }
  .about {
    flex-direction: column;
    padding-bottom: 0;
  }
  .about-content {
    margin-left:5%;
    flex-basis: 70%;
  }
  .about-img img {
    min-height: 200px;
    min-height: 200px;
    max-width: 500px;
    max-height: 500px;
    margin: 0% 8%;
    height: 70vw;
    width: 70vw;
    object-fit: cover;
  }
  .about-brief h1 {
    margin-top: 30px;
  }
  .about-brief {
    margin-bottom: 0px;
  }
  .tab {
    font-size: 2.2rem;
  }
  
  .contact-details {
    margin-top: 8rem;
    align-items: center;
  }
  .contact-container {
    width: auto;
  }
  .s-head {
    text-align: center;
    margin-top: 2rem;
  }
  .social-media-pack {
    justify-content: center;
  }
  .social-media-pack a {
    margin: auto 1rem;
    margin-bottom: 2rem;
  }
  .submit{
    margin: 6% auto;
  }
  .extra-div{
    margin: 2% 5%;
  }
  .portfolioo{
    height: 95vh;
    max-height:150vh ;
  }
}

@media screen and (max-width: 720px) {
  .all-works,
  .other-works {
    grid-template-columns: 1fr;
  }
  .container-extradiv{
    flex-direction: column;
    padding: 7% 3%;
    gap: 2%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about {
    padding-bottom: 0;
  }
  .main-content h1 {
    font-size: 10vw;
  }

  .main-content h2 {
    font-size: 5.5vw;
  }

  .main-content h3 {
    font-size: 4.7vw;
    margin-bottom: 15px;
  }

  .btn-grp {
    width: 100%;
  }
  .about-brief h1 {
    font-size: 4.3rem;
    text-align: center;
  }
  .tab-content {
    height: 70px;
  }
  .card-content {
    padding-top: 20px;
  }
  .card-content p {
    font-size: 1.7rem;
  }
  .card-content h4 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }

  .card-content h5 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dim-white);
    margin-bottom: 20px;
  }
  .contact-container {
    padding: 0 7vw;
  }
  
  .column{
    margin-left:11%;
    width:35%;
  }
}

@media only screen and (max-width: 400px) {
  .btn {
    width: 40vw;
    height: 12.8vw;
  }
  .btn p {
    font-size: 4vw;
  }

  .portfolio h3 {
    font-size: 2rem;
  }
  .project-tabs {
    margin-top: 4rem;
  }
  .column{
    margin-left:10%;
    width:35%;
  }
  .portfolioo{
    height: 95vh;
    max-height: 100vh;
  }
}

@media only screen and (min-height: 500px) and (max-width: 580px) {
  .main {
    padding-top: 18vh;
  }
  .main-content {
    padding-top: 3vh;
  }
  .portfolioo{
    height: 120vh;
    max-height: 150vh;
  }
  .about-content{
    margin: 0% 3%;
  }
}
@media only screen and (max-width:375px) {
  .portfolioo{
    height: 110vh;
    max-height: 150vh;
  }
  .about-content{
    margin: 0% 3%;
  }
  
}
/* Remove hovering on unsupported devices */
@media (hover: none) {
  .project-card:hover img {
    transform: scale(1);
  }
  .btn:hover {
    box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
  }
  .project-tab:active {
    background-color: var(--secondary-button);
  }
  .view-card-details {
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

@media (hover: hover) {
  .card-icon:hover {
    transform: scale(1.08);
  }

  .project-tab:hover:not(.active-project) {
    background-color: var(--secondary-button);
  }
  .project-card:hover .card-content {
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .project-card:hover .project-img {
    transform: scale(1.07);
  }

  .contact-container:hover {
    background-color: var(--red);
    border: 1.5px solid var(--red);
  }
  .contact-container:hover .contact-icon {
    border: 2px solid var(--white);
    color: var(--red);
  }
  .social-media-pack a:hover {
    background-color: var(--red);
  }
  .social-media-pack a:hover .contact-social {
    color: var(--primary-text);
  }
}

/* Animations */

@keyframes bottomUp {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: rotate(xx) translateY(0px);
    opacity: 1;
  }
}
.footer i:hover{
  transform: scale(1.15);
  color: var(--red);

}
