*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style:none;
}
p{
    font-size:0.9rem;
    line-height:1.6;
    font-weight:400;
    color:#606060;
}
.extra-div h2, .servicediv h2{
    font-size:0.9rem;
    margin:20px 0 15px 0;
    font-weight:bold;
    line-height:1.1;
    word-spacing:4px;
    text-align: center;
}
i{
 color: #2fccd2;
}
.navbar-nav{
    align-items:right;
    justify-content:right ;
}
.header{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('images/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
    position: relative;
}
.header:before{
   content:"";
   position: absolute;
   top:0%;
   bottom:0%;
   left:0;
   right:0;
   opacity:0.4;
   z-index:  -1;
   background: linear-gradient(to right, #1e5799 0%,#3ccdbb 0%,#16c9f6 100%);

}
.navbar:before{
    content:"";
   position: absolute;
   top:0%;
   bottom:0%;
   left:0;
   right:0;
   opacity:0.4;
   z-index:  -1;
   background: linear-gradient(to right, #9aafc7 0%,#67d1c5 0%,#669eac 100%);
}
.nav-item a{
    color:#fff !important;
    font-weight:bold;
}
.header-section{
    width:100%;
    height:inherit;
    color:white;
    text-align:center;
    position:relative;
}
.center-div{
    width:100%;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.header-buttons a{
  border:1px solid white;
  border-radius:100px;
  margin:0 5px;
  padding:12px 35px;
  outline:none;
  color:#fff;
  font-size:1rem;
  font-weight:400;
  line-height:1.4;
  text-align:center;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  -ms-border-radius:100px;
  -o-border-radius:100px;
}
.header-buttons a:hover{
    color:#50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
    font-size:1.3rem;
    padding:10px 0 20px 0;
    color:#fff;
}
.header-extra-div{
   width:100%;height:auto;
   margin:100px 0;
   text-align:center;

}
.extra-div{
    background:#fff;
    border:medium none;
    padding:50px !important;
    border-radius:3px;
    transition:0.3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    text-align:center;
}
.extra-div:hover{
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    -o-transform:translateY(-20px);
}
.serviceoffers{
    background:  #f7f7f9;
    padding:50px 0;
    margin-bottom:50px;
}
.headings{
    margin-bottom:50px;
}
.headings h1{
    font-size:1.5rem;
    font-weight:600;
    text-transform:uppercase;
}
.names h1{
    color:#2e2e2e;
    font-size:0.9rem;
    text-transform: uppercase;
    font-weight:bold;
}
.service-icons{
    display:flex;
    justify-content:center;
    align-content:center;
}
.progress{
    height:0.8rem !important;
    margin-bottom:25px !important;
    margin-bottom:25px !important;
}
.project-work{
    margin:80px 0;
}
.project-work h1{
font-size:2rem;
text-align:center;
}
.happyclients{
    width:100%;
    height:100vh;
    padding:80px 0;
}
.box{
    text-align:center;
    border: 1px solid rgba(5, 4, 4, 0.63);
    box-shadow:0 5px 10px 0 rgba(0,0,0,0,0.3);
    border-radius: 2px;
    transition:0.3s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}
.box:hover{
    background:#16c9f6!important;
    box-shadow: 23px  rgba(185, 137, 137, 0.3);
    transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    -o-transform:translateY(-20px);
}
.box:hover p{
    color:white;
}
.carousel-indicators{
    position:absolute;
    right:0;
    bottom:-60px !important;
}
.carousel-indicators li{
    background-color: #16c9f6!important;;
}
.box a{
    position:relative;

}
.box a img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-top: 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.box a:after{
    content:"\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background:linear-gradient(to right, #1e5799 0%, #3ccdbb 0%,#16c9f6 100%);
    color:white;
    position:absolute;
    top:120%;
    left:70%;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.box h1{
    font-size:18px;
    font-weight:400;
    margin-bottom:10px;

}
.box h2{
    font-size:13px;
    font-weight:400;
    color:#666666;

}
.contactus{
    width:100%;
    height:100vh;
    padding:80px 0;
    position:relative;
}
.contactus:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(330deg,#16c9f6 55%,#fff 0%);
    z-index:-1;

}
.form-button{
    border:1px solid #50d1c0;
    border-radius:100px;
    margin:0 5px;
    padding:12px 35px;
    outline:none;
    color:#50d1c0;
    font-size:1rem;
    font-weight:400;
    line-height:1.4;
    text-align:center;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    background:transparent;
}
::placeholder{
   font-size:0.85rem;

}
.end ul li{
    color:white;
    margin:8px;
    padding:4px;
    list-style:none;
    font-size: 0.8rem;
  }
  .end div{
      margin-left:5%;
  }
 .end{
    margin-top:2%;
    height:60vh;
    width:97vw;
    margin-left:1%;
    background-color:#16c9f6;
 }
 

