*{
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    overflow-y:hidden;
}
html{
    scroll-behavior: smooth;
    Font-family:Poppins, sans-serif;
}
.flex{
    display:flex;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
    height:100vh;
}
.navbar{
    background-color: rgb(208, 236, 243);
}
.navbar ul li{
    color:#3b2688;
    margin: 3.1rem;
    list-style: none;
    margin-top:12px;
    font-size:1.1rem;
    font-weight:bold;
    font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:normal;
    text-align:start;
    letter-spacing:normal;
}
.navbar ul li:hover{
    text-decoration: underline;
    cursor:pointer;
    text-shadow: 24px;
    transition:2s ;
    -webkit-transition:2s ;
    -moz-transition:2s ;
    -ms-transition:2s ;
    -o-transition:2s ;
}
.front{
    background-color: rgb(208, 236, 243);
}
.front p{
    font-size:15px;
    color: #6084a4;
    line-height: 1.8;
}
.heading{
    overflow-y: hidden;
    color:rgba(22, 19, 18, 0.925);
    margin-right:14vw;
    font-family: 'Poppins', cursive; 
    font-size:40px;
    text-align:start;
    font-weight:bold;
    text-align: center;
    justify-content: center;
    font-size: 60px;
}
.front img {
    height:100vh;
    width:45vw;
}
.btn.btn-secondary {
    text-transform: capitalize;
    border-radius: 0;
    background-color: #7658e6;
    padding: 13px 30px;
    -webkit-box-shadow: 5px 5px 5px #a6f5be;
    box-shadow: 5px 5px 5px #a7a6f5;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-left:5px;
    margin-top:20px;
}
.btn {
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
    z-index: 1;
    text-transform: uppercase;
    box-shadow:#b5b9ee;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #e0e5e9;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}


#main {
    margin-left: 30%;
    margin-top: 5%;
    background-color: cyan;
    width: 40%;
    height: fit-content;
    border-radius: 4%;
    box-shadow: inset 2px 2px 20px white;
}

#image {
    margin-left: 25%;
    margin-top: 2%;
    padding: 2%;
    border-radius: 50%;
    box-shadow: 2px 2px white;
}

#Name {
    margin-left: 37%;
    overflow-y: hidden;
}

#designation {
    overflow-y: hidden;
    margin-left: 44%;
}

#content {
    width: 80%;
    margin-left: 10%;
}

#prev {
    background-color: #8a74dd;
    border: 2px solid #7658e6;
    /* padding-top: 1%; */
    color: rgb(15, 17, 17);
    font-weight: 700;
    font-size: 2vw;
    border-radius: 35%;
    margin-bottom: 5%;
    margin-left: 30%;
    font-size: 1.4vw;
    margin-top:2%;
    padding:3px;
    -webkit-border-radius:35%;
    -moz-border-radius:35%;
    -ms-border-radius:35%;
    -o-border-radius:35%;
}

#next {
    background-color: #8a74dd;
    border: 2px solid #7658e6;
    /*padding-top: 1%;
    */color: rgb(15, 17, 17);
    font-weight: 700;
    border-radius:35%;
    margin-bottom: 5%;
    font-size: 1.4vw;
    float: right;
    margin-right: 30%;
    margin-top:2%;
    padding:3px;
    -webkit-border-radius:35%;
    -moz-border-radius:35%;
    -ms-border-radius:35%;
    -o-border-radius:35%;
}
#Reviewer{
  text-align: center;
  overflow-y: hidden;

}
.carousel-item img{
    opacity: 0.95;
    height:100vh;
    width:80vw;
}
.container{
    width:1200px;
    margin-top:40px;
}
.card{
    height:40vh;
    width:30vw;
}
.container .card{
   position:relative;
   width:290px;
   height:430px;
   box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
   box-shadow: inset -5px -5px 15px rgba(255,255,255,0.1);
   box-shadow: inset 5px 5px 15px rgba(0,0,0,0.3);
   box-shadow: inset -5px -5px 15px rgba(255,255,255,0.1);
   border-radius:15px ;
   -webkit-border-radius:15px ;
   -moz-border-radius:15px ;
   -ms-border-radius:15px ;
   -o-border-radius:15px ;
   margin:30px;
}
.container .card .box{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:20px;
    bottom:20px;
    left:20px;
    right:20px;
    background-color: #2a2b2f;
    border:2px solid #1e1f23;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.5);
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    overflow:hidden;
}
.container .card .box::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background: rgba(255,255,255,0.05);
}
.container .card .box:hover{
    transform:translateY(-50px);
    -webkit-transform:translateY(-50px);
    -moz-transform:translateY(-50px);
    -ms-transform:translateY(-50px);
    -o-transform:translateY(-50px);
    box-shadow: 0px 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .content{
    padding:20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .card .box .content h2{
    position:absolute;
    top:-10px;
    right:30px;
    font-size: 8em;
    color:rgba(255,255,255,0.05);
}
.container .card .box .content h3{
   font-size: 1.6em;
   z-index:1;
   color:rgba(255,255,255,0.5);
   transition:0.5s;
   -webkit-transition:0.5s;
   -moz-transition:0.5s;
   -ms-transition:0.5s;
   -o-transition:0.5s;
}
.container .card .box .content p{
   font-size: 16px;
   font-style: 300;
   z-index:1;
   color:rgba(255,255,255,0.5);
   transition:0.5s;
   -webkit-transition:0.5s;
   -moz-transition:0.5s;
   -ms-transition:0.5s;
   -o-transition:0.5s;
}
.container .card .box .content a{
    position:relative;
    display:inline-block;
    padding:8px 20px;
    background: #000;
    margin-top:15px ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color:#fff;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(1) .box .content a
{
    background-color: #2196f3;
}
.container .card:nth-child(2) .box .content a
{
    background-color:hotpink;
}
.container .card:nth-child(3) .box .content a
{
    background-color: greenyellow;
}
.solutions h1{
    margin-top:50px;
   text-align: center;
   overflow-y:hidden;
}